#header-navbar {
    background-color: #153042;
    color: #f7f7f7;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
    height: 15vh;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    font-size: .8rem;
}

#title img {
    width: 80px;
    height: 80px;
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}

#try-now > .nav-button:hover {
    background-color: #ef8517;
}