#footer {
    height: 25vh;
    background-color: #153042;
    border-top: 2px solid #419ee2;
    color: #f7f7f7;
    font-weight: bold;
    padding: .1rem;
}

.footer-options {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: .8rem;
    margin-top: .5rem;
}

.option p {
    padding-bottom: .2rem;
    font-size: 15px;
}

.option li {
    font-size: 12px;
    margin-top: .3rem;
    opacity: 1;
}

.option li:hover {
    opacity: .7;
    cursor: pointer;
}