.app-container {
    margin: 0 auto;
    overflow: hidden;
}

.initial-button {
    position: fixed;
    right: 2rem;
    bottom: 2.5rem;
    z-index: 1000;
}

.initial-button > .nav-button {
    border-radius: 50%;
    box-shadow: none;
}

.alert-message {
    color: #ef8517;
    background-color:#153042FF;
    border: 2px solid #ef8517;
    font-weight: bold;
    padding: 1.5rem;
    width: 60%;
    text-align: justify;
    font-size: 15px;
    display: flex;
    gap: 1rem;
}

@media (max-width: 480px) {
    .initial-button {
        right: .4rem;
    }

    .initial-button > .nav-button {
        padding: 1rem;
        font-size: 1rem;
    }

    .alert-message {
        width: 100%;
        padding: 1rem;
        font-size: 11px;
    }
}