.app-container {
    margin: 0 auto;
}

.initial-button {
    position: fixed;
    right: 2rem;
    bottom: 2.5rem;
    z-index: 1000;
}

.initial-button > .nav-button {
    border-radius: 50%;
    box-shadow: none;
}